@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Kanit', sans-serif, FontAwesome;
}

/* Color Palette */
$redCrayola: #ED254E;
$naplesYellow: #F9DC5C;
$teaGreen: #C2EABD;
$oxfordBlue: #011936;
$Charcoal: #465362;

body {
    background-color: $oxfordBlue;
    .navMenu {
        text-align: center;
        padding: 0.5rem;     
        .active { color: #ED254E; text-shadow: 0px 0px 8px rgba(237, 37, 78, 1); }       
        a {
            color: white;
            font-size: 16px; text-decoration: none; text-transform: uppercase;  
            padding: 0 1em; border-right: 2px dotted $redCrayola;         
            transition: all 0.2s ease-in-out;
            &:last-child { border-right: 0; }
            &:hover { color: $redCrayola; }
        }
    }

    .container, .effect-options, .effect-preview, .effect-code {
        display: flex; align-items: center; justify-content: center; flex-wrap: wrap; flex-direction: row;
    }
    .container {
        min-height: 90vh;
        .card-container {
            width: auto; max-width: 650px; min-width: 450px; height: auto;
            padding: 1em; text-align: center;       
            background-color: $teaGreen; border-radius: 10px; box-shadow:  0px 0px 5px 5px $Charcoal;

            #title {
                font-size: 15px; font-weight: bold;
                color: $oxfordBlue; user-select: none;
            }
            span { cursor: default; }

            .effect-options {
                margin: 5px 0;
                .column {
                    width: 50%; height: 135px; 
                    padding: 5px; border: 2px solid $oxfordBlue;
                    background-color: $redCrayola; color: white;
                    &:first-child { border-radius: 5px 0 0 5px; border-right: 0; }
                    &:last-child { border-radius: 0 5px 5px 0; border-left: 2px dotted $oxfordBlue; }

                    .input-group {                         
                        justify-content: center;      
                        margin-bottom: 5px; 
                        &:nth-child(2), &:nth-child(4) {
                            border-top: 2px dotted $oxfordBlue; margin-top: 10px;
                        }

                        label {
                            width: 100%; display: inline-block;
                            font-size: 15px; margin-bottom: 0;
                        }       
                        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
                            -webkit-appearance: none; margin: 0;
                        }
                        input[type = number] {
                            width: 25px; height: 25px;
                            appearance: none; -moz-appearance: textfield;
                            text-align: center; font-size: 9px;
                            border: 0; margin: 0 !important; border-radius: 5px !important;
                        }        
                        span {
                            width: fit-content;
                            font-size: 12px; line-height: 2;
                            margin-left: 5px !important;
                        }
                        .form-range {
                            width: 70%; height: 25px; cursor: pointer;
                            margin-right: 5px !important;                                             
                        }
                        input[type = color] {  
                            width: 75%; height: 25px;                           
                            appearance: none; -webkit-appearance: none; -moz-appearance: none;
                            border: 0; margin-top: 5px;
                            background: transparent;
                            cursor: pointer; transition: 0.25s;
                            &:hover { scale: 1.05; }
                            &::-webkit-color-swatch {
                                border-radius: 5px; border: 1px solid white;
                            }
                            &::-moz-color-swatch {
                                border-radius: 5px; border: 1px solid white;
                            }
                        }
                    }                    
                }
            }
            .effect-preview {
                position: relative; z-index: 10;
                margin: 15px 0;
                span { 
                    position: absolute; 
                    font-size: 45px; letter-spacing: 2px;
                    color: $oxfordBlue; user-select: none; opacity: .85;
                }
                .preview {
                    width: 80%; height: 135px; position: relative;
                    background-color: $naplesYellow; border-radius: 5px; margin: auto;
                    box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 1);
                }
            }
            .effect-code {
                flex-wrap: nowrap;
                .form-floating {
                    width: 100%;
                    textarea {
                        height: fit-content; min-height: 110px;
                        border: 2px solid $oxfordBlue; border-radius: 5px;
                        cursor: copy;
                        font-size: 14px; color: $oxfordBlue;
                        &::selection { background-color: $naplesYellow; }
                    } 
                    label { font-size: 14px; }
                }
                button {
                    background-color: $redCrayola;
                    margin-left: 5px; transition: 0.25s;
                    &:hover { 
                        background-color: var(--bs-btn-hover-bg); 
                        scale: 1.05;
                    }
                }
            }
        }
    }
}